<app-container title="Registro de pasajeros">
  <form (submit)="submit()" [formGroup]="formulario">
    <section
      formArrayName="secciones"
      *ngFor="let seccion of secciones.controls; let i = index"
      fxLayout="column"
      class="spacing-section"
    >
      <div
        [formGroupName]="i"
        fxLayoutAlign="space-between center"
        fxLayoutGap="1rem"
      >
        <!-- Nombres -->
        <mat-form-field appearance="fill" fxFlex="1 1 calc(20% - 1rem)">
          <mat-label>Nombres</mat-label>
          <input matInput placeholder="Nombres" formControlName="nombres" />
          <mat-error
            *ngIf="secciones.controls[i].get('nombres')?.hasError('required')"
          >
            El campo es <strong>obligatorio</strong>
          </mat-error>
        </mat-form-field>

        <!-- Apellidos -->
        <mat-form-field appearance="fill" fxFlex="1 1 calc(20% - 1rem)">
          <mat-label>Apellidos</mat-label>
          <input matInput placeholder="Apellidos" formControlName="apellidos" />
          <mat-error
            *ngIf="secciones.controls[i].get('apellidos')?.hasError('required')"
          >
            El campo es <strong>obligatorio</strong>
          </mat-error>
        </mat-form-field>

        <!-- Nacionalidad -->
        <mat-form-field appearance="fill" fxFlex="1 1 calc(20% - 1rem)">
          <mat-label>Nacionalidad</mat-label>
          <input
            matInput
            placeholder="Nacionalidad"
            formControlName="nacionalidad"
          />
          <mat-error
            *ngIf="
              secciones.controls[i].get('nacionalidad')?.hasError('required')
            "
          >
            El campo es <strong>obligatorio</strong>
          </mat-error>
        </mat-form-field>

        <!-- TipoDocumento -->
        <mat-form-field appearance="fill" fxFlex="1 1 calc(20% - 1rem)">
          <mat-label>Tipo Documento</mat-label>
          <input
            matInput
            placeholder="TipoDocumento"
            formControlName="tipoDocumento"
          />
          <mat-error
            *ngIf="
              secciones.controls[i].get('tipoDocumento')?.hasError('required')
            "
          >
            El campo es <strong>obligatorio</strong>
          </mat-error>
        </mat-form-field>

        <!-- NumeroDocumento -->
        <mat-form-field appearance="fill" fxFlex="1 1 calc(20% - 1rem)">
          <mat-label>Numero Documento</mat-label>
          <input
            matInput
            placeholder="NumeroDocumento"
            formControlName="numeroDocumento"
          />
          <mat-error
            *ngIf="
              secciones.controls[i].get('numeroDocumento')?.hasError('required')
            "
          >
            El campo es <strong>obligatorio</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </section>

    <div fxLayoutAlign="end center" fxLayoutGap="1rem">
      <button
        mat-raised-button
        type="button"
        color="accent"
        (click)="agregarSeccion()"
      >
        Nuevo pasajero
      </button>

      <button mat-raised-button type="submit" color="primary">Guardar</button>
    </div>
  </form>
</app-container>
