<app-container titleHeader="Registro de pasajeros">
  <form (submit)="submit()" [formGroup]="formulario" autocomplete="off">
    <mat-card
      formArrayName="secciones"
      *ngFor="let seccion of secciones.controls; let i = index"
      fxLayout="column"
      class="spacing-section"
    >
      <div [formGroupName]="i" fxLayout="column">
        <div fxLayoutAlign="space-between center" fxLayoutGap="1rem">
          <!-- Nombres -->
          <mat-form-field appearance="outline" fxFlex="1 1 calc(20% - 1rem)">
            <mat-label>Nombres</mat-label>
            <input
              matInput
              placeholder="Nombres"
              formControlName="nombres"
              alphabetAndSpecialCharacters
            />
            <mat-error
              *ngIf="secciones.controls[i].get('nombres')?.hasError('required')"
            >
              El campo es <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>

          <!-- Apellidos -->
          <mat-form-field appearance="outline" fxFlex="1 1 calc(20% - 1rem)">
            <mat-label>Apellidos</mat-label>
            <input
              matInput
              placeholder="Apellidos"
              formControlName="apellidos"
              alphabetAndSpecialCharacters
            />
            <mat-error
              *ngIf="
                secciones.controls[i].get('apellidos')?.hasError('required')
              "
            >
              El campo es <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>

          <!-- Nacionalidad -->
          <mat-form-field appearance="outline" fxFlex="1 1 calc(20% - 1rem)">
            <mat-label>Nacionalidad</mat-label>
            <input
              matInput
              placeholder="Nacionalidad"
              formControlName="nacionalidad"
              onlyAlphabets
            />
            <mat-error
              *ngIf="
                secciones.controls[i].get('nacionalidad')?.hasError('required')
              "
            >
              El campo es <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>

          <!-- Tipo Documento -->
          <mat-form-field appearance="outline" fxFlex="1 1 calc(20% - 1rem)">
            <mat-label>Tipo Documento</mat-label>
            <mat-select
              formControlName="tipoDocumento"
              (selectionChange)="validarTipoDocumento($event.value, i)"
            >
              <mat-option
                *ngFor="let tipo of listadoTipoDocumentos"
                [value]="tipo.id"
              >
                {{ tipo.valor }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                secciones.controls[i].get('tipoDocumento')?.hasError('required')
              "
            >
              El campo es <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>

          <!-- Numero Documento -->
          <mat-form-field appearance="outline" fxFlex="1 1 calc(20% - 1rem)">
            <mat-label>Numero Documento</mat-label>
            <input
              matInput
              placeholder="NumeroDocumento"
              formControlName="numeroDocumento"
              onlyNumbersAlphabet
              [isOnlyNumber]="validacionesDocumento[i].isOnlyNumbers"
              [maxlength]="validacionesDocumento[i].maxLength"
            />
            <mat-error
              *ngIf="
                secciones.controls[i]
                  .get('numeroDocumento')
                  ?.hasError('required')
              "
            >
              El campo es <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <button
        mat-mini-fab
        color="warn"
        aria-label="Delete section"
        matTooltip="Delete section"
        class="btn-delete"
        *ngIf="i !== 0"
        (click)="eliminarSeccion(i)"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-card>

    <div fxLayoutAlign="end center" fxLayoutGap="1rem">
      <button
        mat-raised-button
        type="button"
        color="accent"
        [disabled]="validarNumeroSecciones"
        (click)="agregarSeccion()"
      >
        Nuevo pasajero
      </button>

      <button mat-raised-button type="submit" color="primary">Guardar</button>
    </div>
  </form>
</app-container>
