<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
    <span>Tekton Airlines</span>

    <div fxLayoutGap="1rem">
      <button
        mat-raised-button
        color="accent"
        aria-label="Register"
        (click)="navigateTo('passenger/form')"
      >
        Registro
      </button>
      <button
        mat-raised-button
        color="accent"
        aria-label="List"
        (click)="navigateTo('passenger/list')"
      >
        Listado
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<section class="card-container">
  <router-outlet></router-outlet>
</section>
